html,body{

    width: 1900px;
    height: 850px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Header{
    width: 101%;
    height: 100px;
    background-color: rgb(29, 29, 138);
}
.font{
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    color: white;
    text-decoration: none;
}
.but{
    width: 50px;
    height: 50px;
    border: none;
    padding-top: 5px;
    justify-content: center;
    display: flex;
    gap: 8px;
    flex-direction: column;
    background: none;
    cursor: pointer;
    transform: translate(1830px, -55px);
}
.buts{
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
}
.but.pushed span{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.but.pushed.buts:first-child{
    transform: rotate(90deg);
}
.but.pushed.buts:first-child{
    transform: rotate(45deg);
}
.but.pushed.buts{
    transform: rotate(-45deg);
}

.menu{
    list-style-type: none;
    height: 850px;
    width: 390px;
    background-color: black;
    transform: translate(1490px, -16px);
    opacity: 100%;
}
.menubut{
     margin: 0;
     padding: 0;
    transform: translate(-30px, 200px);
     width: 370px;
     height: 80px;
     background: black;
     border: black;
}
.menubut:hover{
    background: blue;
}
a{
    text-decoration: none;
    color: white;
    font-size: 50px;
}
.Projects{
    display: flex;
    flex-direction: column;
    width: 750px;
    align-items: center;
    justify-content: center;
    border: black solid 3px;
    border-radius: 5%;
    transform: translate(500px, -700px);
}
.Project{
    font-size: 40px;
    margin-top: 50px;
    margin-left: -20px;
    width: 720px;
    border: black solid 3px;
    list-style-position: inside;
    display: flex;
    justify-content: space-between;
}
.yes{
    width: 30px;
    height: 30px;
    background-color: green;    
}
.no{
    width: 30px;
    height: 30px;
    background-color: red;
}
.Dobav{
    display: flex;
    width: 600px;
    height: 40px;
    border-radius: 16px;
    background: black;
}
input{
    width: 400px;
    height: 35px;
    border-top-left-radius: 16px;
    border-bottom-left-radius:  16px;
}
.enter{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background: blue;
    width: 200px;
    height: 40px;
}